:root {
  --main-color: #434455;
  --bright-color: #404bbf;
  --tittle-color: #2e2f42;
  --accent-color: #4d5ae5;
}
/* Не проходить без root автоперевірку-------------------------------------- */
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-color);
}
.logo .logo-studio {
  color: var(--tittle-color);
}
/* background{color: #F4F4FD} */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--main-color);
  background-color: #ffffff;
}
.list {
  list-style: none;
}
/* Header */
.nav .link:hover,
.nav .link:focus {
  color: var(--bright-color);
}

.nav .link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--tittle-color);
  text-decoration: none;
}

.feedback {
  font-style: normal;
}
.feedback-item .link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
}
.feedback-item {
  list-style: none;
}
.feedback .link:hover,
.feedback .link:focus {
  color: var(--bright-color);
}
/* Main */

/* Hero */
.hero {
  background-color: var(--tittle-color);
}
.hero-tittle {
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  line-height: 1.07;
}
.hero .pointer {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--accent-color);
}
.hero .pointer:hover,
.hero .pointer:focus {
  color: var(--bright-color);
  background-color: var(--bright-color);
}
/* Skills */

.skills-main-tittle {
  visibility: hidden;
}
.secondary-tittle {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--tittle-color);
  line-height: 1.07;
}
.skills-section .secondary-tittle {
  line-height: 1.2;
}
.skills-list {
  list-style: none;
}
.skill-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Examples */
.examples-tittle {
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--tittle-color);
  line-height: 1.11;
}

/* Team */
.team {
  background-color: #f4f4fd;
}

.team-tittle {
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--tittle-color);
}
.specialty {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-item .secondary-tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--tittle-color);
}
.team-item {
  list-style: none;
}
.team-text {
  background-color: #ffffff;
  width: 264px;
}

/* Footer */
.footer-section {
  background-color: var(--tittle-color);
}
.footer-item {
  color: #e7e9fc;
}

.footer-section .logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-color);
}
.footer-section .footer-studio {
  color: #f4f4fd;
}
/* -------------------Portfolio------------------------------------- */
.portfolio-tittle {
  visibility: hidden;
}
.portfolio-buttons .item {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--accent-color);
  background-color: #f4f4fd;
}
.portfolio-buttons .item:hover,
.portfolio-buttons .item:focus {
  color: #ffffff;
  background-color: var(--bright-color);
}

.works {
  text-decoration: none;
}
.work-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio .secondary-tittle {
  line-height: 1.2;
}
